<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="simple" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="oracle.jdbc.driver.OracleDriver"
                        connectionURL="jdbc:oracle:thin:@192.168.5.128:1521:demo"
                        userId="rough" password="rough"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="true"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="rough.samples.spring.boot.mybatis.model"
                            targetProject="../samples-spring-boot-db/src/main/java">
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="rough.samples.spring.boot.mybatis.mapper"
                         targetProject="../samples-spring-boot-db/src/main/resources/"/>

        <javaClientGenerator type="XMLMAPPER" targetPackage="rough.samples.spring.boot.mybatis.mapper"
                             targetProject="../samples-spring-boot-db/src/main/java"/>

        <table tableName="SPL_USER" domainObjectName="SplUser">
            <property name="useActualColumnName" value="false"/>
            <property name="trimString" value="true"/>
        </table>
    </context>
</generatorConfiguration>